<main class="bg-info">
  <div class="container">
    <div>
      <h1 class="fw-bold fs-1 text-center text-light">
        Météo historique
      </h1>
    
      <div class="container d-flex justify-center align-items-center gap-1">
        <span class="fs-4 text-light fw-bold">Volume de données:</span>  <h2 class="text-white btn btn-danger">{{ total | number : '1.0-0'}} </h2>
    </div>
      
      
      <div class="d-flex align-items-center">
        <div class="search-wrapper">
          <div class="search-container">
            <input
              type="text"
              class="search-input"
              [(ngModel)]="searchCity"
              (input)="onSearchInput()"
              placeholder="Rechercher une ville..."
            />
            
            <button *ngIf="searchCity" class="clear-btn" (click)="clearSearch()">
              ✖
            </button>
          </div>
          @if (showSuggestions && filteredCities.length > 0) {
            <div class="suggestions-container">
              @for (city of filteredCities; track city.ville) {
                <div 
                  class="suggestion-item"
                  (click)="selectCity(city)"
                >
                  {{ city.ville }}
                </div>
              }
            </div>
          }
        </div>
        <input
          type="date"
          class="date-input"
          [(ngModel)]="selectedDate"
          (change)="onDateChange()"
          [min]="'1996-01-01'"
          [max]="maxDate"
        />
      </div>
      
      <div class="container">
        <div class="popover__wrapper">
          <div href="#">
            <div class="weather-card">
              <div>Ville: <span class="fw-bold">{{infoCity.ville}}</span></div>
              <div>N° station: <span class="fw-bold">{{infoCity.numeroStation}}</span></div>
              <div>Coordonnées:
                <span class="fw-bold">
                  <a [href]="'https://www.google.com/maps?q=' + infoCity.latitude + ',' + infoCity.longitude" 
                  target="_blank" 
                  style="text-decoration: none; color: blue;">
                 {{ infoCity.latitude }}, {{ infoCity.longitude }}
               </a>
              </span></div>
            </div>
          </div>
          <div class="popover__content">
            <p class="popover__message">{{infoCity.ville}}</p>
            <img alt="{{infoCity.ville}}" src="/assets/img/ville/{{infoCity.ville}}.png">
          </div>
        </div>
      </div>
      
    
      
      <div *ngIf="isLoading" class="spinner-container d-flex flex-column">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Chargement...</span>
        </div>
        <span class="">Chargement...</span>
      </div>

    <div *ngIf="!isLoading && weatherData.length > 0"></div>
        <div class="weather-grid">
          @for (day of weatherData; track day.date) {
            <div class="weather-card" (click)="showDetails(day)">
              <div class="date">{{ day.date | date:'EEEE d MMMM yyyy' }}</div>
              <div class="weather-icon text-center">{{ day.icon }}</div>
              <div class="text-center">
                <div class="d-flex justify-content-center align-items-center">
                  <div class="temperature text-center">{{ day.temperature }}°</div>
                  <div class="fs-2">C</div>
                </div>
                <div>Ressenti <span class="fw-bold fs-4">{{ day.realFeel }}°C</span></div>
              </div>
              <div class="condition text-center">{{ day.condition }}</div>
              
              <div class="d-flex justify-content-between text-center">
                <div class="info-tab">
                  <div style="font-weight: bold;">Humidité</div>
                  {{ day.humidity }} %
                </div>
                <div class="info-tab">
                  <div class="d-flex gap-1">
                    <div class="fw-bold">Vent</div>
                    <div>{{ day.windDirection }} </div>
                  </div>
                  <div>{{ day.windSpeed }} km/h</div>
                </div>
    
                <div class="info-tab">
                  <div style="font-weight: bold;">Précipitation</div>
                  {{ day.precipitation }} %
                </div>
              </div>
              
              <div class="tab-container text-center" style="margin-top: 10px;">
                <div class="info-tab">
                  
                  <div style="font-weight: bold;">Pression de la mer</div>
                  <div>{{ day.pmer }} b</div>
                </div>
              </div>
            </div>
          }
        </div>
      
        <div *ngIf="!isLoading && weatherData.length === 0" class="">
          Aucune donnée météo disponible pour cette ville ou cette date.
          Veuillez sélectionner une ville et une date valides.
        </div>
    
      @if (selectedDay) {
        <div class="fullscreen-details">
          <button class="back-button" (click)="closeDetails()">
            ← Retour
          </button>
          
          <div class="details-content">
            <div style="text-align: center; margin-bottom: 30px;">
              <div class="date" style="font-size: 1.5em;">
                {{ selectedDay.date | date:'EEEE d MMMM yyyy' }}
              </div>
              <div class="weather-icon" style="font-size: 3em;">
                {{ selectedDay.icon }}
              </div>
              <div class="temperature" style="font-size: 3em;">
                {{ selectedDay.temperature }}°C
              </div>
              <div class="condition" style="font-size: 1.3em;">
                {{ selectedDay.condition }}
              </div>
            </div>
    
            <div class="row gap-2 text-center" style="margin-bottom: 30px;">
              <div class="info-tab col">
                <div style="font-weight: bold;">Humidité</div>
                {{ selectedDay.humidity }}%
              </div>
              <div class="info-tab  col">
                <div style="font-weight: bold;">Vent {{ selectedDay.windDirection }}</div>
                {{ selectedDay.windSpeed }} km/h
              </div>
              <div class="info-tab  col">
                <div style="font-weight: bold;">Précipitation</div>
                {{ selectedDay.precipitation }} %
              </div>
            </div>
    
            <div class="row gap-2 text-center" style="margin-bottom: 30px;">
              <div class="info-tab col">
                <div style="font-weight: bold;">Pression de la mer</div>
                {{ selectedDay.pmer }} b
              </div>
              <div class="info-tab col">
                <div style="font-weight: bold;">Point de rosée</div>
                {{ selectedDay.prose }}°C
              </div>
              <div class="info-tab col">
                <div style="font-weight: bold;">Visibilité</div>
                {{ selectedDay.visibility }} km
              </div>
            </div>
            <div class="tab-container text-center">
              <div class="info-tab">
                
                <div style="font-weight: bold;">Qualité de l'air</div>
                <div class="alert {{ selectedDay.windQuality.split(' ')[1] }}">{{ selectedDay.windQuality.split(" ")[0] }}</div>
              </div>
            </div>
    
            <div class="mt-5">
              <h2 style="color: #2c3e50; margin-bottom: 20px;" class="fw-semibold fs-4 fst-italic">
                Prévisions horaires
              </h2>
              <div class="hourly-grid">
                @for (hour of selectedDay.hourlyData; track hour.time) {
                  <div class="hourly-card">
                    <div class="time">{{ hour.time }}</div>
                    <div class="icon weather-icon">{{ hour.icon }}</div>
                    <div class="temp">{{ hour.temperature }}°C</div>
                    <div class="condition">{{ hour.condition }}</div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  </main>
