<div class="container">
  <h1 class="text-center">Évolution des indicateurs climatiques</h1>


  <section class="container d-flex align-items-center justify-content-around mb-5">
    <div class="">
      <div class="search-wrapper">
        <input
          type="text"
          class="search-input"
          [(ngModel)]="searchCity"
          (input)="onSearchInput()"
          placeholder="Rechercher une ville..."
        />
        @if (showSuggestions && filteredCities.length > 0) {
          <div class="suggestions-container">
            @for (city of filteredCities; track city.ville) {
              <div 
                class="suggestion-item"
                (click)="selectCity(city)"
              >
                {{ city.ville }}
              </div>
            }
          </div>
        }
      </div>
    </div>

    <div class="">
      <div class="popover__wrapper">
        <div href="#">
          <div class="weather-card">
            <div>Ville: <span class="fw-bold">{{infoCity.ville}}</span></div>
            <div>N° station: <span class="fw-bold">{{infoCity.numeroStation}}</span></div>
            <div>Coordonnées:
              <span class="fw-bold">
                <a [href]="'https://www.google.com/maps?q=' + infoCity.latitude + ',' + infoCity.longitude" 
                target="_blank" 
                style="text-decoration: none; color: blue;">
               {{ infoCity.latitude }}, {{ infoCity.longitude }}
             </a>
            </span></div>
          </div>
        </div>
      </div>
    </div>
  </section>        
        
      
      
        
  

  <div class="container d-flex justify-content-center">
    <!-- Loader -->
    <div *ngIf="isLoading" class="spinner-container d-flex flex-column">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Chargement...</span>
      </div>
      <span class="">Chargement...</span>
    </div>
  
    <!-- Graphique -->
    <div *ngIf="!isLoading && data.length > 0" class="w-100">
      <ngx-charts-line-chart 
        [view]="view"
        [results]="data"
        [scheme]="'cool'"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [autoScale]="true"
      >
      </ngx-charts-line-chart>
    </div>
  
    <!-- Message si aucune donnée -->
    <div *ngIf="!isLoading && data.length === 0" class="no-data">
      <p>Aucune donnée à afficher.</p>
    </div>
  </div>
  
  
</div>
